doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Conecta a quienes tienen un negocio con voluntarios que los ayudan a crecer
  link(rel='stylesheet' href='css/feed_style.css')
  link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  meta(property='og:title' content='Conecta Digital España')
  meta(name='description' content='Te conectamos con quienes quieren verte crecer')
  meta(property='og:image' content='conecta-logo.png')
  // favicon
  link(rel='apple-touch-icon' sizes='57x57' href='favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='favicon/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
  link(rel='manifest' href='favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='favicon/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  script.
    (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:1872370,hjsv:6};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
// nav_bar
nav.nav_bar
  .nav_left
    .nav_logo
      a(href='index')
        img(src='img/nav_logo.svg')
  .nav_right
    ul
      li
        a(style='background-color: #0BCDB5;' href='https://preparados.typeform.com/to/aFiLik8L') ABRIR MI CASO
// main
.header
  .header_main(style='width: 100%;')
    .main_left(style='margin-left: 30px')
      h3 Algunas ideas con quienes trabajar
      h2
        | Estas son algunas de las agencias u opciones de pago con quienes puedes comenzar a trabajar ya mismo.
    div(style='clear:both;')
// main
.feed
  // Inicio Caso
  .caso_feed
    .info_formulario
      h5
        // Pregunta 2 - ¿Y el nombre de tu negocio? - texto Libre
        span#nombre_negocio Jimdo - Web y tienda online
      p#descripcion_actividad
        span
          | Crea una web desde 0&euro;/mes o una tienda online por 15&euro;/mes. Si de todos modos necesitas ayuda, escr&iacute;benos a 
          a(href='mailto:hola@conecta-digital.com') hola@conecta-digital.com
          | .
      p
        span#descripcion_necesidad Creaci&oacute;n de web o tienda online.
      .feed_button
        a(href='https://www.jimdo.com/es/')
          .button_third
            span IR A WEB
  // Fin Caso
  // Inicio Caso
  .caso_feed
    .info_formulario
      h5
        span#nombre_negocio Francisco Fresneda
      p#descripcion_actividad
        // Pregunta 5 - ¿Puedes hacer una breve descripción del funcionamiento y la situación de tu negocio? - Texto libre
        span
          | Si necesitas ayuda con marketing online, puedes contactar a Francisco. Env&iacute;ale un correo y comienza a trabajar.
      p
        span#descripcion_necesidad Marketing online.
      .feed_button
        a(href='mailto:ffresneda@sieversasesores.es')
          .button_third
            span ENVIAR CORREO
  // Fin Caso
  // Inicio Caso
  .caso_feed
    .info_formulario
      h5
        span#nombre_negocio Babooino.com
      p#descripcion_actividad
        // Pregunta 5 - ¿Puedes hacer una breve descripción del funcionamiento y la situación de tu negocio? - Texto libre
        span
          | He creado Babooino para poner al alcance de todos, pequeñas y medianas empresas, los recursos de internet.
      p
        span#descripcion_necesidad Marketing online y Creaci&oacute;n de web.
      .feed_button
        a(href='https://www.babooino.com ')
          .button_third
            span IR A WEB
  // Fin Caso
  // Inicio Caso
  .caso_feed
    .info_formulario
      h5
        span#nombre_negocio Puro Asfalto Marketing
      p#descripcion_actividad
        // Pregunta 5 - ¿Puedes hacer una breve descripción del funcionamiento y la situación de tu negocio? - Texto libre
        span
          | Agencia digital con nichos muy exclusivos.
      p
        span#descripcion_necesidad Marketing online.
      .feed_button
        a(href='https://www.puroasfaltomarketing.com')
          .button_third
            span IR A WEB
  //    Inicio Caso
    <div class="caso_feed">
    <div class="info_formulario">
    <h5>
    <span id="nombre_negocio">MOVE 4 media</span>
    </h5>
    <p id="descripcion_actividad">
    <span>Un equipo que te ayudará a mejorar tu web, hacer marketing online, ganar audiencia y consultoría digital en general.</span>
    </p>
    <p>
    <span id="descripcion_necesidad">Consultoría digita.</span>
    </p>
    <div class="feed_button">
    <a href="http://move4media.com">
    <div class="button_third">
    <span>IR A LA WEB</span>
    </div>
    </a>
    </div>
    </div>
    </div>
    FIN DE CASO
  div(style='clear:both;')
// Footer
.footer
  .webmap
    ul
      li
        a(href='index')
          p Inicio
      li
        a(href='proyectos')
          p Casos abiertos
      li
        a(href='quienes_somos')
          p Quienes somos
      li
        a(href='faqs')
          p Preguntas frecuentes
      li
        a(href='docs/termsandconditions_conecta-digital.pdf')
          p T&eacute;rminos y condiciones
      li
        a(href='docs/personalinfo-conecta-digital.pdf')
          p Pol&iacute;tica de privacidad
  .footer_2
    .footer_left
      h3(style='margin: 20px 0;') S&iacute;guenos y comparte
      .social
        a(href='https://twitter.com/ConectaEspana')
          img(src='img/twitter.svg')
        a(href='https://www.instagram.com/conectadigital_es')
          img(src='img/instagram.svg')
        a(href='https://www.facebook.com/ConectaDigitalEsp/')
          img(src='img/facebook.svg')
      p
        | Si tienes dudas o quieres saludarnos, nos puedes escribir a 
        a(href='mailto:hola@conecta-digital.com') hola@conecta-digital.com
        | .
    .footer_right
      img(src='img/footer_logo.svg')
    div(style='clear:both;')
  .footer_1
    .footer_left
      h3(style='font-size: 1.8em;') Gracias por apoyar proyectos solidarios como este
    .negocios_right
      img(style='width: 40%; float: left;padding: initial;' src='img/typeform_logo.svg')
      img(style='width: 40%; float: right;padding: initial;' src='img/godaddy_logo.svg')
    div(style='clear:both;')
