doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Conecta a quienes tienen un negocio con voluntarios que los ayudan a crecer
  link(rel='stylesheet' href='css/feed_style.css')
  script(src='/js/script.js')
  link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  meta(property='og:title' content='Conecta Digital España')
  meta(name='description' content='Te conectamos con quienes quieren verte crecer')
  meta(property='og:image' content='conecta-logo.png')
  // favicon
  link(rel='apple-touch-icon' sizes='57x57' href='favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='favicon/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
  link(rel='manifest' href='favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='favicon/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')
  script.
    window.onload = amplitude.getInstance().logEvent('PAGINA_PROYECTOS');

//- nav_bar
nav.nav_bar
  .nav_left
    .nav_logo
      a(href='index')
        img(src='img/nav_logo.svg')
  .nav_right
    ul
      li
        a(style='background-color: #0BCDB5;' onClick='amplitude.getInstance().logEvent(\'BOTON_PROYECTOS_NAVBAR_ABRIRMICASO\')' href='https://preparados.typeform.com/to/aFiLik8L') ABRIR MI CASO
//- main
.header
  .header_main
    .main_left
      h3 Elige un caso para comenzar
    div(style='clear:both;')
//- main
-var i = 0
.feed
  //- Inicio Caso
  each encuesta in data
    - var url = encuesta._id
    - i = i + 1
    //- Inicio Caso
    .caso_feed
      .info_formulario
        h5
          //- Pregunta 1 - ¿Cuál es tu nombre? - texto Libre
          //-span#nombre_persona #{encuesta.form_response.answers[0].text}
          //-|  -
          //- Pregunta 2 - ¿Y el nombre de tu negocio? - texto Libre
          span#nombre_negocio  #{encuesta.form_response.answers[1].text}
        h6
          //-
            Pregunta 3 - ¿De qué es el negocio? - SingleChoice:
            · Restauración (bares, restaurantes, cafeterías, etc.)
            · Salud (cuidado personal y deporte, fisioterapia, nutrición, dentista, etc.)
            · Comercio minorista (venta de alimentos, ropa, electrónica, etc.)
            · Educación
            · Otro
          //-if encuesta.form_response.answers[2].choice.label
            span#sector #{encuesta.form_response.answers[2].choice.label}
          //-else
            span#sector #{encuesta.form_response.answers[2].choice.other}
          //-| ,
          //- Pregunta 4 - ¿Dónde está tu negocio? - SingleChoice (listado de provincias)
          //-if encuesta.form_response.answers[3].choice.label
            span#provincia  #{encuesta.form_response.answers[3].choice.label}
          //-else
            span#provincia  #{encuesta.form_response.answers[3].choice.other}
          
        p
          //- Pregunta 5 - ¿Puedes hacer una breve descripción del funcionamiento y la situación de tu negocio? - Texto libre
          span#descripcion_actividad
            | #{encuesta.form_response.answers[4].text}
        p
          //-
            Pregunta 7 - ¿Crees que alguna de estas iniciativas podría ayudarte a asegurar la continuidad de tu negocio? - SingleChoice:
            · Crear una web
            · Añadir la posibilidad de vender online
            · Hacer marketing online
            · Hacer reparto a domicilio
            · Entender mejor mis números para adaptarme a mis clientes
            · Mejorar mi imagen de marca
            · No sé qué podría hacer para asegurar la viabilidad
          if encuesta.form_response.answers[6].choice.label
            span#descripcion_necesidad #{encuesta.form_response.answers[6].choice.label}
          else
            span#descripcion_necesidad #{encuesta.form_response.answers[6].choice.other}
        .feed_button
          if (encuesta.isResolved)
            .case_resolved
              span &iexcl;RESUELTO!
          else 
            a(href='proyecto/'+url onClick='amplitude.getInstance().logEvent(\'BOTON_PROYECTOS_VERDETALLE\')')
              .button_third
                span VER DETALLE
    if (i == 3)
      .ser_voluntario
        .info_formulario
          h5
            span#nombre_negocio &iexcl;Ap&uacute;ntate para ayudar!
          p#descripcion_actividad
            span
              | Si no encuentras un caso que encaje con tu perfil o si te interesa recibir las novedades de los que se van creando, &iexcl;Apuntate!
          .feed_button
            a(href='https://preparados.typeform.com/to/mnC1wG')
              .button_third
                span QUIERO AYUDAR    
div(style='clear:both;')
  //- Fin Caso
// Footer
.footer
  .webmap
    ul
      li
        a(href='index')
          p Inicio
      li
        a(href='proyectos')
          p Casos abiertos
      li
        a(href='quienes_somos')
          p Quienes somos
      li
        a(href='faqs')
          p Preguntas frecuentes
      li
        a(href='docs/termsandconditions_conecta-digital.pdf')
          p T&eacute;rminos y condiciones
      li
        a(href='docs/personalinfo-conecta-digital.pdf')
          p Pol&iacute;tica de privacidad
  .footer_2
    .footer_left
      h3(style='margin: 20px 0;') S&iacute;guenos y comparte
      .social
        a(href='https://twitter.com/conectaespana')
          img(src='img/twitter.svg')
        a(href='https://www.instagram.com/conectadigital_es')
          img(src='img/instagram.svg')
        a(href='https://www.facebook.com/ConectaDigitalEsp/')
          img(src='img/facebook.svg')
      p
        | Si tienes dudas o quieres saludarnos, nos puedes escribir a 
        a(href='mailto:hola@conecta-digital.com') hola@conecta-digital.com
        | .
    .footer_right
      img(src='img/footer_logo.svg')
    div(style='clear:both;')
  .footer_1
    .footer_left
      h3(style='font-size: 1.8em;') Gracias por apoyar proyectos solidarios como este
    .negocios_right
      img(style='width: 40%; float: left;padding: initial;' src='img/typeform_logo.svg')
      img(style='width: 40%; float: right;padding: initial;' src='img/godaddy_logo.svg')
    div(style='clear:both;')
