doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Conecta a quienes tienen un negocio con voluntarios que los ayudan a crecer
  link(rel='stylesheet' href='/css/feed_style.css')
  script(src='/js/script.js')
  link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
  meta(property='og:title' content='Conecta Digital España')
  meta(name='description' content='Te conectamos con quienes quieren verte crecer')
  meta(property='og:image' content='conecta-logo.png')
  // favicon
  link(rel='apple-touch-icon' sizes='57x57' href='favicon/apple-icon-57x57.png')
  link(rel='apple-touch-icon' sizes='60x60' href='/favicon/apple-icon-60x60.png')
  link(rel='apple-touch-icon' sizes='72x72' href='/favicon/apple-icon-72x72.png')
  link(rel='apple-touch-icon' sizes='76x76' href='/favicon/apple-icon-76x76.png')
  link(rel='apple-touch-icon' sizes='114x114' href='/favicon/apple-icon-114x114.png')
  link(rel='apple-touch-icon' sizes='120x120' href='/favicon/apple-icon-120x120.png')
  link(rel='apple-touch-icon' sizes='144x144' href='/favicon/apple-icon-144x144.png')
  link(rel='apple-touch-icon' sizes='152x152' href='/favicon/apple-icon-152x152.png')
  link(rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-icon-180x180.png')
  link(rel='icon' type='image/png' sizes='192x192' href='/favicon/android-icon-192x192.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='96x96' href='/favicon/favicon-96x96.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png')
  link(rel='manifest' href='/favicon/manifest.json')
  meta(name='msapplication-TileColor' content='#ffffff')
  meta(name='msapplication-TileImage' content='/favicon/ms-icon-144x144.png')
  meta(name='theme-color' content='#ffffff')

script.
  window.onload = amplitude.getInstance().logEvent('PAGINA_PROYECTO');
  function terms_changed() {
  var checkBox = document.getElementById("terms_and_conditions");
  var text = document.getElementById("submit_button");
  if (checkBox.checked == true){
  text.disabled = false;
  } else {
  text.disabled = true;
  }
  }

// nav_bar
nav.nav_bar
  .nav_left
    .nav_logo
      a(href='/index')
        img(src='/img/nav_logo.svg')
  .nav_right
    ul
      li
        a(style='background-color: #FFD24F;' href='/proyectos') VOLVER
// main
.header
  .header_main
    .main_left
      h3 An&iacute;mate
      p
        | Quiz&aacute;s este sea el caso en el que podr&iacute;as colaborar para reactivar la econom&iacute;a de alguien que lo necesita.
    div(style='clear:both;')
// main
.feed
  // Inicio Caso
  - var url = data._id
  .caso_feed
    .info_formulario
      h5
        // Pregunta 1 - ¿Cuál es tu nombre? - texto Libre
        span#nombre_persona #{data.form_response.answers[0].text}
        |  -
        // Pregunta 2 - ¿Y el nombre de tu negocio? - texto Libre
        span#nombre_negocio  #{data.form_response.answers[1].text}
      h6
        //
          Pregunta 3 - ¿De qué es el negocio? - SingleChoice:
          · Restauración (bares, restaurantes, cafeterías, etc.)
          · Salud (cuidado personal y deporte, fisioterapia, nutrición, dentista, etc.)
          · Comercio minorista (venta de alimentos, ropa, electrónica, etc.)
          · Educación
          · Otro
        if data.form_response.answers[2].choice.label
          span#sector #{data.form_response.answers[2].choice.label}
        else
          span#sector #{data.form_response.answers[2].choice.other}
        | ,
        // Pregunta 4 - ¿Dónde está tu negocio? - SingleChoice (listado de provincias)
        span#provincia  #{data.form_response.answers[3].choice.label}
      p
        // Pregunta 5 - ¿Puedes hacer una breve descripción del funcionamiento y la situación de tu negocio? - Texto libre
        span#descripcion_actividad
          | #{data.form_response.answers[4].text}
      p
        // Pregunta 6 - Pon aquí tu web, si tienes - Acá debería completar el href para que vaya al sitio. Este campo es opcional.
        a(href='#{data.form_response.answers[5].url}')
          span#descripcion_necesidad #{data.form_response.answers[5].url}
      p
        //
          Pregunta 7 - ¿Crees que alguna de estas iniciativas podría ayudarte a asegurar la continuidad de tu negocio? - SingleChoice:
          · Crear una web
          · Añadir la posibilidad de vender online
          · Hacer marketing online
          · Hacer reparto a domicilio
          · Entender mejor mis números para adaptarme a mis clientes
          · Mejorar mi imagen de marca
          · No sé qué podría hacer para asegurar la viabilidad
        if data.form_response.answers[6].choice.label
          span#descripcion_necesidad #{data.form_response.answers[6].choice.label}
        else
          span#descripcion_necesidad #{data.form_response.answers[6].choice.other}
      .feed_calltoaction(style='border-top: solid 1px #F0F2FD;width: 100%; float: initial;margin: auto;')
        p
          | Si quieres ayudar en este caso, completa el email y acepta los t&eacute;rminos y condiciones.
        form(action='/addVoluntario' method='post' onsubmit='amplitude.getInstance().logEvent(\'BOTON_PROYECTO_QUIEROAYUDAR\')')
          label(for='email-voluntario') Dinos tu email:
          input#email-voluntario(type='email' name='email' placeholder='Escribe tu email aquí' required)
          br
          input#terms_and_conditions(type='checkbox' value='1' onclick='terms_changed()')
          label(for='terms_and_conditions')
            | Acepto los 
            a(href='/docs/termsandconditions_conecta-digital.pdf' target='_blank') t&eacute;rminos y condiciones
            |  y la 
            a(href='/docs/personalinfo-conecta-digital.pdf' target='_blank') pol&iacute;tica de privacidad
            | .
          br
          input#prodId(name='id' type='hidden' value=url)
          br
          br
          button#submit_button.button_third(type='submit' disabled) QUIERO AYUDAR
      if data.email
        p(style='font-size: 0.9em;  border-top: solid 1px #F0F2FD;')
          br
          | Personas interesadas en resolver este caso: #{data.email.length}
          // agregar recuento de veces que se hizo click al CTA "QUIERO HACER ESTE CASO"
  // Fin Caso
  p(style='margin: 20px auto 100px;text-align: center;')
    a(href='/proyectos') Volver al listado de casos
